.feynman__link{
    position: absolute;
    top: 50%;
    right: 48px;
    margin: auto;
    color: #000000;
    line-height: 51px;
    font-size: 36px;
    font-weight: normal;
    text-decoration: none;
    z-index: 2;
  }
  
  .feynman__link:active {
    color: #ffbb00;
  }
  
  .feynman__link:hover {
    opacity: .5;
    transition: .3s;
  }